@model Bookstore.ViewModel.BookAutherViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookAutherViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if(ViewBag.Message != null)
        {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Message
        </div>
        }
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="File" class="control-label"></label>
            <input asp-for="File" name="File" class="form-control" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="autherID" class="control-label"></label>
            <select asp-for="autherID" class="form-control"
                    asp-items="@(new SelectList(Model.Authers, "id","Fullname"))"></select>
            <span asp-validation-for="autherID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
        </div>
    </form>
    </div>
</div>

@section Scripts {
    <partial name="_Validation" />
}
